<!doctype html>
<html ng-app="scotchTodo" lang="en">

<head X-Content-Type-Options: nosniff>
    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <!-- ??? Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- ??? Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <script>
        angular.module('myListsController', [])

            .controller('mainController', ['$scope', '$http', 'myLists', function ($scope, $http, myLists) {
                console.log("myAdminLists.ejs: myListsController mainController reached");
                $scope.formData = {};
                $scope.loading = true;
                $scope.myListsTableParams = {};
                var userEmail = "<%= user.local.email %>";
                $("#listnametaken").hide();
                $("#itemnametaken").hide();
                $("#myItemsTable").hide();
                $("#addItemForm").hide();

                $("#addListForm").hide();

                // GET =====================================================================
                //myLists.getAllComments(userEmail)
                  //  .success(function (data) {
                    //    console.log("myComments.ejs: mainController myLists.getAllComments success");
                    //    $scope.myComments = data;
                    //    $scope.loading = false;
                    //    $("#listnametaken").hide();
                    //    $("#itemnametaken").hide();
                    //    $("#myItemsTable").hide();
                    //    $("#addItemForm").hide();
                    //    //$("myUserList3x").hide();
                    //    $("#myCommentsTable").show();
                    //    $("#myLoginsTable").hide();
                    //    //$("myListTable").hide();
                    //});

                myLists.getAllLogins(userEmail)
                    .success(function (data) {
                        console.log("myLogins.ejs: mainController myLists.getAllLogins success");
                        $scope.myLogins = data;
                        $scope.loading = false;
                        $("#listnametaken").hide();
                        $("#itemnametaken").hide();
                        $("#myItemsTable").show();
                        $("#addItemForm").hide();
                        $("#myCommentsTable").hide();
                        $("#myLoginsTable").show();
                    });

                //myLists.getAllItemRanks(userEmail)
                  //  .success(function (data) {
                    //    console.log("myAdminLists.ejs: mainController myLists.get success");
                    //    $scope.myItemRanks = data;
                    //    $scope.loading = false;
                    //    $("#listnametaken").hide();
                    //    $("#itemnametaken").hide();
                    //    $("#myItemsTable").show();
                    //    $("#addItemForm").hide();
                    //});
                
                myLists.getAllGrps()
                    .success(function (grpdata) {
                        console.log("myAdminLists.ejs: mainController myLists.getAllGrps success");
                        $scope.myGrps = grpdata;
                        $scope.myGrps.unshift("Everyone" , "Just Me");
                        console.log("myAdminLists.ejs: myLists.getAllGrps: $scope.myGrps: " + JSON.stringify($scope.myGrps));
                        for (var i = 0; i < $scope.myGrps.length; i++) {
                            console.log("$scope.myGrps[i] = " + $scope.myGrps[i]);
                        }
                });

                // CREATE ==================================================================
                $scope.createMyList = function () {
                    console.log("myAdminLists.ejs:  mainController createMyList ");
                    if ($scope.formData.name != undefined) {
                        $scope.loading = true;
                        $scope.formData.owner = userEmail;
                        console.log("myAdminLists.ejs: $scope.formData: " + JSON.stringify($scope.formData));
                        myLists.create($scope.formData)
                            .error(function (data) {
                                $scope.loading = false;
                                console.log("myAdminLists.ejs: createMyList ERROR data: " + JSON.stringify(data));
                                console.log("myAdminLists.ejs: createMyList ERROR data.message: " + data.message);
                                message = data.message;
                                $("#listnametaken").show();

                            })
                            .success(function (data) {
                                $scope.loading = false;
                                $scope.formData = {}; // clear the form so our user is ready to enter another
                                $scope.myLists = data; // 
                                $("#listnametaken").hide();
                                console.log("myAdminLists.ejs: createMyList $scope.myLists: " + JSON.stringify($scope.myLists));
                            });
                    }
                };

                $scope.deleteMyList = function (id) {
                    console.log("myAdminLists.ejs:  mainController deleteMyList id: " + id);
                    //$scope.loading = true;

                    if (confirm('Are you sure you want to delete this list ?') == true) {
                        console.log(" yes delete");
                        $scope.loading = true;
                        myLists.delMyList(id)
                            .success(function (data) {
                                $scope.loading = false;
                                $scope.formData = {}; // clear the form so our user is ready to enter another
                                $scope.myLists = data; // 
                                $("#listnametaken").hide();
                                $("#itemnametaken").hide();
                                $("#myItemsTable").hide();
                                $("#addItemForm").hide();
                            });
                    } else {
                        console.log(" No delete");
                    }
                };

                $scope.itemsOfList = function (listName) {
                    console.log("myAdminLists.ejs:  mainController itemsOfList listName: " + listName);
                    $("#addListForm").hide();
                    $scope.currentListName = listName;
                    myLists.getItems(listName)
                        .success(function (data) {
                            $scope.loading = false;
                            $scope.formData = {}; // clear the form so our user is ready to enter another
                            $scope.myItems = data; // 
                            $("#listnametaken").hide();
                            $("#itemnametaken").hide();
                            $("#myItemsTable").show();
                            $("#addItemForm").show();
                        });
                };

                $scope.createMyItem = function () {
                    console.log("myAdminLists.ejs:  mainController createMyItem ");
                    if ($scope.formItemData.name != undefined) {
                        if (checkForDupItem()) {
                            $("#itemnametaken").show();
                            return;
                        }
                        $scope.loading = true;
                        $scope.formItemData.list = $scope.currentListName;
                        $scope.formItemData.owner = userEmail;
                        console.log("myAdminLists.ejs: $scope.formItemData: " + JSON.stringify($scope.formItemData));
                        myLists.createItem($scope.formItemData)
                            .error(function (data) {
                                $scope.loading = false;
                                console.log("myAdminLists.ejs: createMyItem ERROR data: " + JSON.stringify(data));
                                console.log("myAdminLists.ejs: createMyItem ERROR data.message: " + data.message);
                                //messageItem = data.message;
                                $("#itemnametaken").show();
                            })
                            .success(function (data) {
                                //$scope.loading = false;
                                $scope.formItemData = {}; // clear the form so our user is ready to enter another
                                $scope.myItems = data; // 

                                myLists.get(userEmail)
                                    .success(function (dataX) {
                                    //console.log("myAdminLists.ejs: mainController myLists.get success");
                                    $scope.myLists = dataX;
                                    $scope.loading = false;
                                    $("#itemnametaken").hide();
                                    //console.log("myAdminLists.ejs: createMyItem $scope.myItems: " + JSON.stringify($scope.myItems));
                                });
                            });
                    };
                };

                $scope.myRemoveLoginRecord = function (id) {
                    console.log("dumpMyLogins.ejs:  mainController myRemoveLoginRecord ");
                    if(confirm("Really remove this login record?")) { 
                        console.log(" yes delete");
                        $scope.loading = true;
                        myLists.deleteLoginRecord(id)
                            .error(function (data) {
                                $scope.loading = false;
                                console.log("dumpMyLogins.ejs: myRemoveLoginRecord ERROR data: " + JSON.stringify(data));
                                console.log("dumpMyLogins.ejs: myRemoveLoginRecord ERROR data.message: " + data.message);
                            })
				            .success(function(data) {
					            $scope.loading = false;
                                $scope.myLogins = data; // 
				        });
                    }; 
                };

                $scope.myRemoveItem = function (id) {
                    console.log("myAdminLists.ejs:  mainController myRemoveItem ");
                    if(confirm("Really remove this item from the list?")) { 
                        console.log(" yes delete");
                        $scope.loading = true;
                        myLists.deleteItem({ "listName" : $scope.currentListName, "id" : id })
                            .error(function (data) {
                                $scope.loading = false;
                                console.log("myAdminLists.ejs: myRemoveItem ERROR data: " + JSON.stringify(data));
                                console.log("myAdminLists.ejs: myRemoveItem ERROR data.message: " + data.message);
                                //messageItem = data.message;
                                $("#itemnametaken").show(); // FIX this
                            })
				            .success(function(data) {
					            //$scope.loading = false;
                                $scope.myItems = data; // 
                                $("#itemnametaken").hide();
                                console.log("myAdminLists.ejs: createMyItem $scope.myItems: " + JSON.stringify($scope.myItems));

                                myLists.get(userEmail)
                                    .success(function (dataX) {
                                    $scope.myLists = dataX;
                                    $scope.loading = false;
                                });
				        });
                    }; 
		        };

                $scope.myEditItem = function () {
                    console.log("myAdminLists.ejs:  mainController myEditItem ");
                    alert("Not yet implemented!");
                    //if(confirm("Not yet implemented")) {   
                      //  console.log("Yes"); 
                    //} else {
                      //  console.log("No");
                    //}
                };

                function checkForDupItem() {
                    for (var i = 0; i < $scope.myItems.length; i++ ) {
                        if ($scope.myItems[i].name == $scope.formItemData.name) {
                            return true;
                        }
                    }
                    return false;
                }
            }]);
    </script>

    <script>
        angular.module('myListsService', [])

            .factory('myLists', ['$http', function ($http) {
                return {
                    get: function (owner) {
                        console.log("myAdminLists.ejs: service myLists get");
                        return $http.get('/api/dumpMyLists');
                    },
                    getAllItems: function (owner) {
                        console.log("dumpMyItms.ejs: service myLists getAllItems");
                        return $http.get('/api/dumpMyItems');
                    },
                    getAllItemRanks: function (owner) {
                        console.log("dumpMyItemRanks.ejs: service myLists getAllItemRanks");
                        return $http.get('/api/dumpMyItemRanks');
                    },
                    getAllComments: function (owner) {
                        console.log("dumpMyCommentss.ejs: service myLists getAllComments");
                        return $http.get('/api/dumpMyComments');
                    },
                    getAllLogins: function (owner) {
                        console.log("dumpMyLogins.ejs: service myLists getAllLogins");
                        return $http.get('/api/dumpMyLogins');
                    },
                    create: function (Data) {
                        console.log("myAdminLists.ejs: service myLists create");
                        return $http.post('/api/myAdminLists', Data);
                    },
                    delete: function (id) {
                        console.log("myAdminLists.ejs: service myLists delete");
                        return $http.delete('/api/myLists/' + id);
                    },
                    delMyList: function (id) {
                        console.log("myAdminLists.ejs: service myLists delMyList");
                        return $http.delete('/api/myLists/' + id);
                    },
                    change: function (id) {
                        console.log("myAdminLists.ejs: service myLists change");
                        return $http.get('/api/myLists/' + id);
                    },
                    getItems: function (listName) {
                        console.log("myAdminLists.ejs: service myLists getItems");
                        return $http.get('/api/myAdminItems' + listName);
                    },
                    createItem: function (Data) {
                        console.log("myAdminLists.ejs: service myLists createItem");
                        return $http.post('/api/myAdminItems', Data);
                    },
                    deleteItem: function (Data) {
                        console.log("myAdminLists.ejs: service myLists deleteItem");
                        return $http.post('/api/myItemsRemove' , Data); // + {"listName" : listName, "id" : id});
                    },
                    getAllGrps: function () {
                        console.log("myAdminLists.ejs: service myLists getAllGrps");
                        return $http.get('/api/getAllMyGrps');
                    },
                    deleteLoginRecord: function (id) {
                        console.log("dumpMyLogins.ejs: service myLists deleteLoginRecord");
                        return $http.delete('/api/delMyLogin/' + id);
                    }
                };
            }]);
    </script>

    <script>
        angular.module('scotchTodo', ['myListsController', 'myListsService', 'angular.filter']);
    </script>
    <title>Top 10 Lists</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <style>
        body {
            padding-top: 0px;
            word-wrap: break-word;
        }
    </style>
</head>

<body class="bg-secondary text-white">
<div ng-controller="mainController" id='mainx' class="container-fluid">
    <% include myNavBar %>
<div ng-viewyvx id=myLoginsTable>
<div class="text-centerx">
        <p>Number of Logins: <span class="labelx label-infox">{{ myLogins.length }}</span></p>
</div>
<div>
    <table ng-table="myItemsTableParams" border="1" cellspacing="0" cellpadding="4">
            <tr>
                <th>email</th>
                <th>timeStamp</th>
                <th>Operations</th>
            </tr>
            <tbody class="problemcheckboxx" ng-repeat="aItem in myLogins">
                <td>{{ aItem.email }}</td>
                <td>{{ aItem.timeStamp }}</td>
                <td>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="myRemoveLoginRecord(aItem._id)">xRemove</button>
                </td>
            </tbody>
            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>
    </table>
</div>
</div>
</div>
</body>
</html>