<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

        <div id='main'>
                <nav class="navbar-fluid navbar-default navbar-fixed-top">
                    <div class="container">
                            <a class="navbar-brand" href="#"> index.ejs RG's List App! </a>
                            <p class="navbar-text"> index.ejs Lists your way!</p>
                            <!-- div id='userLogin' ng-controller="usercontroller" -->
                            <% if (typeof(user) == 'undefined') { %>
                                <p class="navbar-right navbar-text" ><a href="/login">Login</a> or <a href="/signup">Register</a></p>
                                <p class="navbar-right navbar-text">User: Guest</p>
                                <% } else { %>
                            <% if (user.local.email) { %>
                                <p class="navbar-right navbar-text" ><a href="/logout" >Logout</a></p>
                                <!-- p class="navbar-right navbar-text" ><a href="#" ng-click="signout()">Logout</a></p -->
                                <p class="navbar-right navbar-text">Logged in as: <%= user.local.email %></p>
                                  
                            <% } else { %>
                                <p class="navbar-right navbar-text" ><a href="/login">Login</a> or <a href="/signup">Register</a></p>
                                <p class="navbar-right navbar-text">Guest User</p>
                            <% } %>
                            <% } %>

                    </div>
                </nav>
                <div ng-view>
                    <p>Gets replaced - with general stuff and guest stuff because user just reached the site or just logged out</p>
                    
                </div>
            </div>
        </div>
</body>
</html>
