<!doctype html>
<html>
<head>
    <title>Top 10 Lists</title>
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" -->
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 0px;
            word-wrap: break-word;
        }
    </style>

</head>
<body class="bg-secondary text-white">
<div id='mainx' class="container-fluid">
<% include myNavBar %>
<div ng-viewx>
    <div ng-controller="mainController">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa"></span>Login</h1>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Email</label>
                        <input type="text" class="form-control form-control-sm" name="email"
                        data-toggle="tooltip" title="Enter your Email Username">
                    </div>
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Password</label>
                        <input type="password" class="form-control form-control-sm" name="password"
                        data-toggle="tooltip" title="Enter your Password">
                    </div>
                    <button type="submit" class="btn btn-warning btn-sm"
                        data-toggle="tooltip" title="Select to Login">Login</button>
                </form>
                <hr />
                    <p class="py-sm-0 my-sm-0">Need an account? <a href="/signup">Signup</a></p>
                    <p class="py-sm-0 my-sm-0">Or go <a href="/">Home</a></p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
