<!doctype html>
<html lang="en">

<head>
    <title>Top 10 Lists</title>
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" -->
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 0px;
            word-wrap: break-word;
        }
    </style>

    <script>
        $(document).ready(function(){
            //$("#hide").click(function(){
              //  $("p").hide();
            //});
            //$("#show").click(function(){
              //  $("p").show();
            //});
            //$("#toggle").click(function(){
              //  $("p").toggle();
            //});
            //$("#togglepara1").click(function(){
              //  $("#para1").toggle();
            //});

            //$("#togglepara1").click(function(){
              //  $("#para1").toggle();
            //});
            $("#oldStuff").hide();
            // Never showing old stuff but leaving in place for now.
            //$("#toggleOldStuff").click(function(){
              //  $("#oldStuff").toggle();
            //});

            $("#sponser").hide();
            $("#toggleSponser").click(function(){
                $("#sponser").toggle();
            });

            $("#goal").hide();
            $("#toggleGoal").click(function(){
                $("#goal").toggle();
            });
            
            $("#steps").hide();
            $("#toggleSteps").click(function(){
                $("#steps").toggle();
            });

            $("#users").hide();
            $("#toggleUsers").click(function(){
                $("#users").toggle();
            });

            $("#groups").hide();
            $("#toggleGroups").click(function(){
                $("#groups").toggle();
            });

            $("#lists").hide();
            $("#toggleLists").click(function(){
                $("#lists").toggle();
            });

            $("#items").hide();
            $("#toggleItems").click(function(){
                $("#items").toggle();
            });

            $("#ranking").hide();
            $("#toggleRanking").click(function(){
                $("#ranking").toggle();
            });

            $("#known").hide();
            $("#toggleKnown").click(function(){
                $("#known").toggle();
            });
            $("#unknown").hide();
            $("#toggleUnknown").click(function(){
                $("#unknown").toggle();
            });
            $("#future").hide();
            $("#toggleFuture").click(function(){
                $("#future").toggle();
            });
            $("#tech").hide();
            $("#toggleTech").click(function(){
                $("#tech").toggle();
            });
            $("#aboutme").hide();
            $("#toggleAboutMe").click(function(){
                $("#aboutme").toggle();
            });
        });

        //var coll = document.getElementsByClassName("collapsible");
        //var i;
        
        //for (i = 0; i < coll.length; i++) {
          //coll[i].addEventListener("click", function() {
            //this.classList.toggle("active");
            //var content = this.nextElementSibling;
            //if (content.style.display === "block") {
              //content.style.display = "none";
            //} else {
              //content.style.display = "block";
            //}
          //});
        //}

    </script>

</head>

<body class="bg-secondary text-white">
    <div id='main' class="container-fluid">
            <% include myNavBar %>
            <!-- for testing 
            <p id="para1">If you click on the "Hide" button, I will disappear.</p>

            <button id="hide">Hide</button>
            <button id="show">Show</button>
            <button id="toggle">Toggle</button>
            <button id="togglepara1">Toggle para1</button>

            <button class="collapsible">Open Collapsible</button>
            <div class="content">test</div>
            <div>
            -->
        <div ng-view id="topStuff">
                <h1>Welcome to Top 10 Lists!</h1>
                <h3>Please send comments, issues, suggestions, etc. to richardsapps@yahoo.com.</h3>
                <h3>This is version 1.5 Beta released on 7/8/2019 and subject to changes.</h3>
                <p></p>
            </div>

        <table>
        <tr><td>
        <button id="toggleGoal" class="btn btn-primary btn-sm">Goal: The goal of this application is to allow for the creation and sharing of Top 10 Lists.</button>
        <!-- button id="toggleGoal">Goal</button -->
        <div ng-view id="goal">
            <!-- h3>The goal of this application is to allow for the creation and sharing of Top 10 Lists.</h3 -->
            <p>Register Users can create Lists.<br/>
                Lists can be Public or Private.<br/>
                Public Lists can be seen by anyone who accesses the application.</br>
            <p>Private Lists can only be seen by Register Users.<br/>
                For a Registered User to see a specific List the User must be the Owner of the List<br/>
                Or the User must be in a Group set on the List for allowing Viewing.</p>
            <p>Lists can only be Editing by Register Users.<br/>
                For a Registered User to Edit a specific List the User must be the Owner of the List<br/>
                Or the User must be in a Group set on the List for allowing Editing.</p>
            <p>Lists can only be Ranked by Register Users.<br/>
                For a Registered User to Rank the Items of a specific List the User must be the Owner of the List<br/>
                Or the User must be in a Group set on the List for allowing Ranking.</p>
            <h3>Sounds simple. See below for information on Registered Users, Groups, Lists, Items and Ranking.</h3>
        </div>
        </td></tr>
        
        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleSteps" class="btn btn-primary btn-sm">Quick Steps: Registering, creating a Group and creating a List.</button>
                <div ng-view id="steps">
                    <p>Yea - Most people head to the quick steps to get things going so here they are.</p>
                    <p>The starting page shows Lists. Select Items to see the Lists.<br/>
                        These are public lists. To actually use this app for more than reading Lists you need to Register.<br>
                        Select the Register link. Enter an Email (Username), Password, Screen Name and set Private to N.<br>
                        Select SignUp and you get registered. Later you can Login using your Email and Password. </p>
                    <p>Now create a new Group. Under My Groups select Manage My Groups.<br/>
                        Enter a Group Name, Details about the Group and set Private to N.<br/>
                        Select Add and a new Group is created.</p>
                    <p>Now create a new List. Select My Lists. Then select the New List button.<br/>
                        Enter a List Name and Description. <br>
                        Under Who can See this List, select Everyone. <br/>
                        Under Who can Edit this List, select your new Group. <br/>
                        Under Who can Vote/Rank Items in this List, select your new Group.<br/>
                        Select Add and the new List gets created.
                    </p>
                    <p>Now add Items to your new List. Find your List in the Lists shown (via My Lists) and select Items.<br>
                        Enter an Item Name and Description and then select Add to create a new Item.<br/>
                        Repeat to create as many Items for you List as you want.
                    </p>
                    <p>Now Rank the Items in your List. Select My Lists, find your List and select Rank.<br/>
                        Select Rank on up to ten Items.<br>
                        Use the Up and Down buttons to position the Items in the Ranking you want.<br/>
                        When things are set, select Save My Rankings.<br>
                        Your Points will be added to the Items in the List.
                    </p>Now if you go to Lists, you can find your List and select Items to see your Ranked List.<br/>
                        Comments, issues, suggestions, etc. contact richardsapps@yahoo.com
                    <p>

                    </p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleUsers" class="btn btn-primary btn-sm">About Registered Users.</button>
                <div ng-view id="users">
                        <p>Registered Users are (currently) never contacted by this application.</p>
                        <p>Only Registered Users can create Lists, Edit Lists and Rank Items in Lists.</p>
                        <p>Select the Register link to become a Registered User.<br/>
                            -- Enter an Email address as your Username<br/>
                            -- Enter a Password<br/>
                            -- Set a Screen Name<br/>
                            -- Set whether you want to be a Private or Public user<br>
                            Select Signup and that's it, you are a Registered User.<br/>
                        </p>
                        <p>When loginning in, use your Username (Email) and Password.<br/>
                            Emails are not validated but must be in an Email format: name@x.y<br/>
                            Emails and Screen Names must be unique within this application.<br/>
                            For now Email is used to identify Users as Owner's of Lists and for Group membership.<br/>
                            At this time no Emails are sent from this application.</p>
                        <p>Your Screen Name and Private/Public setting can be changed at any time via the Profile link.</p>
                        <p>Private Users place themselves in Public Groups.<br/>
                            Public Users can place themselves in Public Groups.<br/>
                            Public Users can also be placed into Groups by other Users.</p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleGroups" class="btn btn-primary btn-sm">About Groups.</button>
                <div ng-view id="groups">
                        <p>Groups are used to control which Users can View and Edit Lists and Rank Items in Lists.</p>
                        <p>Registered Users can create new Groups via the My Groups -> Manage My Groups link.<br/>
                            -- Enter a Group Name<br/>
                            -- Enter Details about the Group<br/>
                            -- Enter whether the Group is Private or Public<br/>
                            Select Add and that's it, a new Group gets created. <br/>
                        </p>
                        <p>Group Names must be unique within the application.<br/>
                            Only the Owner of a Private Group can add Users to the Group.<br/>
                            Any Registered User can add themselves to a Public Group.</p>
                        <p>Use the My Groups -> Manage Users in My Groups link to: <br/>
                            -- See the Users in your Groups<br/>
                            -- Add and Remove Users from your Groups<br/>
                            -- And Delete any of your Groups (if there are no Users in it.)</p>
                        <p>Use the My Groups -> Manage Me in Other Groups link to: <br/>
                            -- Add and Remove yourself from Public Groups</p>
                        <p>When you create a new List you select who can View, Edit and Rank your new List <br/>
                            from your Groups and other Groups you are in</p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleLists" class="btn btn-primary btn-sm">About Lists.</button>
                <div ng-view id="lists">
                        <p>Lists consist of Items. Lists and their Items can be Viewed and Edited.<br/>
                            Lists can have their Items Ranked.</p>
                        <p>From My Lists and then from the New List button a new List can be created.<br/>
                            -- Enter a List Name<br/>
                            -- Enter a Description for the List<br>
                            -- Enter who can See the List<br/>
                            -- Enter who can Edit the List<br/>
                            -- Enter who can Rank the List<br/>
                            Select Add and that's it, a new List gets created. <br/>
                        </p>
                        <p>Selection of the My Lists link shows all the Lists you can see in a table.</p>
                        <p>For each List this table contains the List Name, Description, Owner, <br/>
                            whether the List is Private or not, the Group that can View the List, <br/>
                            the Group that can Edit the List and the Group that can Rank the Items of the List.</p>
                        <p>Buttons in the table allow for Deletion of empty Lists, Removing your Ranking from a List<br/>
                            and seeing (and editing) the List Items and Ranking the List Items. <br>
                            There is also a button to Modify the List only shown to the Owner of the List.</p>
                        <p>See About Items for details on seeing and editing List Items.</p>
                        <p>See About Ranking for details on Ranking List Items.</p>
                </div>
        </td></tr>
        
        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleItems" class="btn btn-primary btn-sm">About Items.</button>
                <div ng-view id="items">
                        <p>Items make up a List and can be Viewed / Edited via the Items button in the List table.</p>
                        <p>When the Items button (in a List table) is selected the Items of the List are displayed. </p>
                        <p>If you have Edit access to the List then new Items can be added <br/>
                            and exising Items can be removed from the List.</p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleRanking" class="btn btn-primary btn-sm">About Ranking.</button>
                <div ng-view id="ranking">
                    <p>Lists can have their Items Ranked.</p>
                    <p>When the Rank button (in a List table) is selected the Items of the List are displayed.</p>
                    <p>Select the Rank buttons from the Items table to select Items for Ranking.<br/>
                        Then in the Ranking table, order the Items to Rank them how you want.<br/>
                        When done, select Save My Ranking and you Rankings will be saved.<br/>
                        Your points will be added to the Items in the List and the List will be displayed in Point order.</p>
                    <p>At this time Item number one get 10 points, Item number two gets 9 points and so on.<br/>
                        You can Rank up to ten Items in a List.<br/>
                        If you Rank only one Item, it gets 10 points and the other Items get none so it counts more.<br/>
                        You can only Rank Items in a List once, but you can remove your Rankings and then ReRank.<br/>
                    </p>
                    <p>New Ranking algorithms may be in the future. Suggestions are welcome.</p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleKnown" class="btn btn-primary btn-sm">Known Issues.</button>
                <div ng-view id="known">
                        <p>Issue with Copy to Link on older iPads/iPhones using older IOS (9) versions.<br/>
                            To create a link to a List use <br/>
                            &nbsp;&nbsp;http://rgmean.herokuapp.com/myPublicListsItems/ListName <br/>
                             where ListName is the name of the list.<br/>
                            For example if the List name is: TopTen BBall Players<br/>
                            then the link should be <br/>
                            &nbsp;&nbsp;http://rgmean.herokuapp.com/myPublicListsItems/TopTen BBall Players<br/>
                            Browsers should add %20 where spaces are. In some cases you may need to add them yourself.<br/>
                            For example: <br/>
                            &nbsp;&nbsp;http://rgmean.herokuapp.com/myPublicListsItems/TopTen%20BBall%20Players</p>
                        <p></p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleUnknown" class="btn btn-primary btn-sm">Unknown Issues</button>
                <div ng-view id="unknown">
                        <p>Duh - but thanks for reading this far.</p>
                        <p>If you do find issues please report them to richardsapps@yahoo.com.</p>
                        <p>There will be issues, there always are.</p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleFuture" class="btn btn-primary btn-sm">Future plans.</button>
                <div ng-view id="future">
                        <p>Some planned changes include the following.</p>
                        <p>Use Screen Name everywhere instead of Email to reference users as Owners, for Group memberships, etc.</p>
                        <p>Automated way to get a temporary password if it is forgotten.</p>
                        <p>Changes and perhaps user options to the look and feel of the app.</p>
                        <p>Point allocations and/or diffent ranking methods for List Items.</p>
                        <p>Done on 7/1/19 release: Allow user comments on Lists.</p>
                        <p>Allow pictures/images to be input and associated with Lists.</p>
                        <p>User controlled sorting of Lists, Items, and Groups.</p>
                        <p>Search for Lists and Groups and Users.</p>
                        <p>A featured List shown on the home page.</p>
                        <p>More directions on how to use the app per page on the page.</p>
                        <p></p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleTech" class="btn btn-primary btn-sm">About Technology used for this app.</button>
                <div ng-view id="tech">
                    <p>This is a MEAN stack app.<br/>
                        -- MEAN Stack: MongoDB, Express, Angular, NodeJS<br/>
                        -- Also made use of Passport and Mongoose on the back end<br/>
                        -- and Bootstrap 4 and some JQuery on the front end.<br/>
                        -- Developed on Windows 10 - Visual Studio Code.<br/>
                        -- Deployed to Microsoft Azure with Docker then switched to Heroku using Git.<br/>
                        -- Used Robo 3T for MongoDB access.<br/>
                        -- Used Postman to check some backend APIs.<br/>
                    </p>
                    <p></p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <!-- button id="toggleSponser">Money</button -->
                <button id="toggleSponser" class="btn btn-primary btn-sm">Money: Planning on keeping this application free.</button>
                <div ng-view id="sponser">
                        <!-- h3>Planning on keeping this application free.</h3 -->
                        <p>Looking for a sponser or two.<br/>
                        Will need to take in some money to support this app in the future.<br/>
                        May set up donations.</p>
                </div>
        </td></tr>
                
        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <button id="toggleAboutMe" class="btn btn-primary btn-sm">About Me.</button>
                <div ng-view id="aboutme">
                    <p>My name is Richard Greenberg.<br/>
                        I am currently looking for employment in the Orange County, Califonia area.</p>
                    <p>I created this application to play with new (to me) technologies.<br/>
                        As a longtime implementer of software solutions, I have played various roles <br/>
                        in the full software lifecycle, from Project Manager through to Programmer.<br/>
                        I enjoy learning new technologies and have continued to expand my knowledge over the years.<br/> 
                        Whatever is needed to get the job done is where I head. </br>
                        I have worked on Proof of Concepts, Rapid Prototypes, Agile and Waterfall projects.<br/>
                    </p>
                    <p>I am looking for an opportunity at a fun place to work <br/>
                        where I can continue to learn and contribute to successful applications.<br/>
                        Please check me out on LinkedIn at: http://www.linkedin.com/in/richard-greenberg-007</p>
                    <p></p>
                </div>
        </td></tr>

        <tr><td>&nbsp;</td></tr>
        <tr><td>
        <!-- button id="toggleOldStuff" class="btn btn-primary btn-sm" >Old Stuff</button -->
        <div ng-view id="oldStuff">
            <h1>RG's List Application</h1>
            <h3>Welcome to RG's MEAN Stack Application running on Heroku.</h3>
            <p></p>
            <p>Note: Many changes were recently deployed. The documentation is not up to date! It will be updated soon!</p>
            <p></p>
            <p>This application is currently under development.</p>
            <p>Features of this application are subject to change until a final release is made.</p>
            <p>Basically this application allow users to create and manage lists.</p>
            <p>This includes ranked lists such as top ten lists.</p>

            <dl>
                <dt>The Plan</dt>
                <dd> - Anyone Registered can create a List.</dd>
                <dd> - The Registered User that creates a List is the Owner of the List.</dd>
                <dd> - List Owners have full control over their Lists.</dd>
                <dd> - List Owners can change the Options for their Lists.</dd>
                <dd> - List Owners can modify their Lists and Delete their Lists.</dd>
                <dd>&nbsp</dd>
                <dd> - Each List has the following Options.</dd>
                <dd> - The Options control how the List works.</dd>
                <dd>&nbsp</dd>
                <dd> - Each List can be Public (seen by Everyone) or Private.</dd>
                <dd> - Public Lists can be seen by everyone.</dd>
                <dd> - Each Private List is associated with one Group or just the owner</dd>
                <dd> - Each Private List can only be seen by members of its associated Group.</dd>
                <dd>&nbsp</dd>
                <dd> - Each List has an Edit Control of Owner, Group or Anyone.</dd>
                <dd> - A List with Edit Control set to Owner can only be edited by the Owner of the List.</dd>
                <dd> - A List with Edit Control set to Group can only be edited by the members of the Group associated
                    with the List.</dd>
                <dd> - Anyone can edit a List when its Edit Control is set to Anyone.</dd>
                <dd>&nbsp</dd>
                <dd> - Each List has a Suggestion Control of Owner, Group, Anyone or None.</dd>
                <dd> - A List with Suggestion Control set to Owner allows the Owner to suggest a new entry for the List.
                </dd>
                <dd> - A List with Suggestion Control set to Group allows the members of the Group associated with the
                    List to suggest a new entry for the List.</dd>
                <dd> - Anyone can suggest a new entry for a List when its Suggestion Control is set to Anyone.</dd>
                <dd> - New entry suggestions are not available for a List when its Suggestion Control is set to None.
                </dd>
                <dd> - A User with Edit Control over a List can Promote a Suggestion to the List or Delete the
                    Suggestion.</dd>
                <dd>&nbsp</dd>
                <dd> - Each List has a Vote Control of Owner, Group, Anyone or None.</dd>
                <dd> - A List with Vote Control set to Owner allows the Owner to Vote on (or rank) the items of the
                    List.</dd>
                <dd> - A List with Vote Control set to Group allows the members of the Group associated with the List to
                    Vote on (or rank) the items of the List.</dd>
                <dd> - Anyone can Vote on the items of a List when its Vote Control is set to Anyone.</dd>
                <dd> - Voting is not available for a List when its Vote Control is set to None.</dd>
                <dd>&nbsp</dd>
                <dd>About Users and Groups.</dd>
                <dd> - Anyone can become a registered User.</dd>
                <dd> - Each User is set to either Private or Public.</dd>
                <dd> - Public Users can be placed into Groups by Group Owners.</dd>
                <dd> - Private Users can only be placed into Groups by the User themsleves.</dd>
                <dd> - Users can create Lists and Groups.</dd>
                <dd> - When a User creates a new List, the User is set to the Owner of the List. </dd>
                <dd> - (See above for more information concerning Lists.)</dd>
                <dd> - When a User creates a new Group, the User is set to the Owner of the Group.</dd>
                <dd> - Each Group is set to either Private or Public.</dd>
                <dd> - The Group Owner of a given Group can Add (Public) Users to and Delete Users from the Group.</dd>
                <dd> - Users can Add themselves into and Delete themselves from Public Groups.</dd>
                <dd>&nbsp</dd>
                <dd>Features.</dd>
                <dd> - Create a New List.</dd>
                <dd> - Suggest a new List Entry.</dd>
                <dd> - Rank a List.</dd>
                <dd>&nbsp</dd>
            </dl>
            <h2>Current features include the following.</h2>
            <p></p>
            <dl>
                <dt>Register</dt>
                <dd> - Allows set up of a new account. Email is the login. Email must be unique.</dd>
                <dd> - Screen Name must also be unique.</dd>
                <dd> - Private = Y means you control which groups you are in. </dd>
                <dd> - Private = N means other users see you and can place you in their groups. </dd>
                <dd> - Passwords are encrypted.</dd>
                <dd> - No email is sent and the email field is only checked for valid formatting based on the Browser
                    being used.</dd>
            </dl>
            <dl>
                <dt>Login</dt>
                <dd> - Username and Password must be entered to Login.</dd>
            </dl>
            <dl>
                <dt>Profile</dt>
                <dd> - From here the User can change their Screen Name, their Privacy setting and their Password.</dd>
                <dd> - The User can also Remove themselves from the application (set of Registered Users.)</dd>
            </dl>
            <dl>
                <dt>Logout</dt>
                <dd> - Logs the User out and returns to the launch page as a Guest User.</dd>
            </dl>
            <dl>
                <dt>My Groups</dt>
                <dd> - Manage My Groups.</dd>
                <dd> -- Here you can see your Groups and Add new Groups.</dd>
                <dd> - Manage Users in My Groups.</dd>
                <dd> -- Here the User can see the Details of a selected Group.</dd>
                <dd> -- The User can also Edit a selected Group.</dd>
                <dd> -- Editing allows for Add and Removing Users to/from the Group.</dd>
                <dd> -- Editing allows for Deleting the Group if it contains no users except for the Owner of the Group.
                </dd>
                <dd> - Manage Me in Other Groups.</dd>
                <dd> -- Here the User can see the groups they are in but do not own. </dd>
                <dd> -- The User can add themselves to public groups. </dd>
                <dd> -- The User can remove themselves from public groups they are in. </dd>
            </dl>
            <dl>
                <dt>My Lists</dt>
                <dd> - This shows the Lists the Owners and the Lists that are set to be seen by Groups the User is in.
                </dd>
                <dd> - Register Users can create new Lists.</dd>
                <dd> - List names must be unique in the system. </dd>
                <dd> - Lists can be set to be seen by Everyone, Just the Author (Just Me) or member of a Group the author
                    is in.</dd>
                <dd> - The Items in each List can be seen by selecting Items.</dd>
                <dd> - Items can also be added to a List when selecting Items. </dd>
                <dd> - Item names must be unique within the given List.</dd>
            </dl>

            <h2>Development information follows.</h2>
            <p></p>
            <p>Developed using Windows 10 - Visual Studio Code</p>
            <p>MEAN Stack: MongoDB, Express, Angular, NodeJS </p>
            <p>JQuery</p>
            <p>Bootstrap 4</p>
            <p>Plan to implement some featues using React </p>
            <p></p>
        </div>

        </td></tr>
        </table>
        <!-- /div -->
    </div>
</body>

</html>