<!doctype html>
<html ng-app="scotchTodo" lang="en">

<head X-Content-Type-Options: nosniff>
    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <!-- ??? Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- ??? Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <title>Top 10 Lists</title>
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" / -->
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" / -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 0px;
            word-wrap: break-word;
        }
    </style>
</head>
<body class="bg-secondary text-white">
        <div id='mainx' class="container-fluid">
            <% include myNavBar %>
        <div ng-view>
            <div ng-controller="mainController">
                <div class="container">
                    <!-- div class="jumbotron text-center">
                        <h1>RG's List App - My Groups</span></h1>
                    </div -->
                    <div id="admin-list" class="problemrow">
                        <div>
                            <table border="1" cellspacing="0" cellpadding="4">
                                <tbody class="problemcheckbox">
                                    <tr>
                                        <td>
                                            <a href="/userGrpsA" style="color : white; " >Manage Users in My Groups</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/userGrpsDetails" style="color : white; ">Manage My Groups</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/meInGrps" style="color : white; ">Manage Me in Other Groups</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>