<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top sticky-top">
        <a class="navbar-brand" href="#">Top 10 Lists</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item  "><span class="nav-link"><a href="/myPublicLists">Lists</a></span></li>                       
            <% if (typeof(user) == 'undefined') { %>
            <li class="nav-item "><span class="nav-link">User: Guest</span></li>
            <li class="nav-item "><span class="nav-link"><a href="/login">Login</a> or <a href="/signup">Register</a></span></li>
            <li class="nav-item "><span class="nav-link"><a href="/index">About</a></span></li>
            <% } else { %>
            <% if (user.local.email) { %>
            <li class="nav-item"><span class="nav-link"><a href="/myLists">My Lists</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/myGrps">My Groups</a></span></li>
            <% if (user.local.email == "admin") { %>
            <li class="nav-item"><span class="nav-link"><a href="/admin">Admin</a></span></li>            
            <% } %>
            <li class="nav-item"><span class="nav-link">Logged in as: <%= user.local.screenName %></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/profile">Profile</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/logout">Logout</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/index">About</a></span></li>
            <% } else { %>
            <li class="nav-item"><span class="nav-link">Guest User</p>
            <li class="nav-item"><span class="nav-link"><a href="/login">Login</a> or <a href="/signup">Register</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/index">About</a></span></li>
            <% } %>
            <% } %>
            </ul>
        </div>
    </nav>