<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top sticky-top">
        <a class="navbar-brand" href="#">Top 10 Lists</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item  "><span class="nav-link"><a href="/myPublicLists">Lists</a></span></li>                       
            <% if (typeof(user) == 'undefined') { %>
            <li class="nav-item "><span class="nav-link">User: Guest</span></li>
            <li class="nav-item "><span class="nav-link"><a href="/login">Login</a> or <a href="/signup">Register</a></span></li>
            <li class="nav-item "><span class="nav-link"><a href="/myAbout">About</a></span></li>
            <% } else { %>
            <% if (user.local.email) { %>
            <li class="nav-item"><span class="nav-link"><a href="/myLists">My Lists</a></span></li>
            <!-- li class="nav-item"><span class="nav-link"><a href="/myGrps">My Groups</a></span></li -->
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      My Groups
                    </a>
                    <div class="dropdown-menu">
                        <!-- a class="dropdown-item" href="/userGrpsA" style="color : white; " >Manage Users in My Groups</a -->
                        <a class="dropdown-item" href="/userGrpsA"  style="color : blue;">Manage Users in My Groups</a>
                        <a class="dropdown-item" href="/userGrpsDetails" style="color : blue;">Manage My Groups</a>
                        <a class="dropdown-item" href="/meInGrps" style="color : blue;">Manage Me in Other Groups</a>
                      <!-- a class="dropdown-item" href="#">Link 1</a -->
                    </div>
            </li>

            <% if (user.local.email == "admin") { %>
            <li class="nav-item"><span class="nav-link"><a href="/admin">Admin</a></span></li>            
            <% } %>
            <li class="nav-item"><span class="nav-link">Logged in as: <%= user.local.screenName %></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/profile">Profile</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/logout">Logout</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/myAbout">About</a></span></li>
            <% } else { %>
            <li class="nav-item"><span class="nav-link">Guest User</p>
            <li class="nav-item"><span class="nav-link"><a href="/login">Login</a> or <a href="/signup">Register</a></span></li>
            <li class="nav-item"><span class="nav-link"><a href="/myAbout">About</a></span></li>
            <% } %>
            <% } %>
            </ul>
        </div>
    </nav>