<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>

<script>
        angular.module('emailExample', [])
          .controller('ExampleController', ['$scope', function($scope) {
            $scope.email = {
              text: 'me@example.com'
            };
          }]);
</script>

</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" name="myForm">
        <div class="form-group">
            <label>Email</label>
            <!-- input type="text" class="form-control" name="email" -->
            <input type="text" class="form-control" name="emailx" placeholder="email"
            #email="ngModel" [(ngModel)]="userService.selectedUser.email" 
            required  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpFrm.submitted && !emailx.valid }">
        
            <div role="alert">
                    <span class="error" ng-show="myForm.input.$error.required">
                      Required!</span>
                    <span class="error" ng-show="myForm.input.$error.email">
                      Not valid email!</span>
            </div>
        
        </div>
        <div class="form-group">
            <label>Password</label>
            <!-- input type="password" class="form-control" name="password" -->
            <input type="password" class="form-control" name="password"
            #password="ngModel" [(ngModel)]="userService.selectedUser.password" 
            required minlength="3" [ngClass]="{'invalid-textbox' :signUpFrm.submitted && !password.valid }">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <!-- input type="password" class="form-control" name="password2" -->
            <input type="password" class="form-control" name="password2"
            #password="ngModel" [(ngModel)]="userService.selectedUser.password2" 
            required minlength="3" [ngClass]="{'invalid-textbox' :signUpFrm.submitted && !password2.valid }">
        </div>
        <div class="form-group">
            <label>Screen Name</label>
            <!-- input type="text" class="form-control" name="screenName" -->
            <input type="text" class="form-control" name="screenName" placeholder="Screen Name"
            #screenName="ngModel" [(ngModel)]="userService.selectedUser.screenName" 
            required  [ngClass]="{'invalid-textbox' :signUpFrm.submitted && !screenName.valid }">
        </div>
        
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>

<div>

        <form name="myForm" ng-controller="ExampleController">
          <label>Email:
            <input type="email" name="input" ng-model="email.text" required>
          </label>
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.email">
              Not valid email!</span>
          </div>
          <tt>text = {{email.text}}</tt><br/>
          <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
          <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
          <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
          <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
          <tt>myForm.$error.email = {{!!myForm.$error.email}}</tt><br/>
        </form>
</div>

</body>
</html>
