<!doctype html>
<html ng-app="scotchTodo" lang="en">

<head X-Content-Type-Options: nosniff>
    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <!-- ??? Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- ??? Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <script>
        var app = angular.module('userGrpsDetailsController', [])
            .controller('mainController', ['$scope', '$http', 'userGrpsDetails', '$filter', 
                function ($scope, $http, userGrpsDetails, $filter) {
                console.log("userGrpsDetails.ejs: userGrpsDetailsController mainController reached");
                $scope.formData = {};
                $scope.formData2 = {};
                $scope.formData3 = {};
                $scope.loading = true;
                $scope.myUserGrpsTableParams = {};
                $scope.selectToAdd = [];
                $scope.noMoreUsersToAdd = true;
                $("#grpnametaken").hide();
                $("#grpnametaken2").hide();
                //var userEmail = "<!-- %= user.local.email % -->";
                //console.log("userGrpsDetails.ejs: userEmail: ", userEmail);

                $("#modGroupForm").hide();
                $("#userInfoForm").hide();
                $("#createGroupForm").show();
                $("#addUserToGrpForm").hide();
                $("#allUsersAdded").hide();

                $scope.currentPage = 0;
                $scope.currentPage2 = 0;
                $scope.pageSize = 10;
                $scope.pageSize2 = 10;
                $scope.q = '';
                $scope.q2 = '';

                // GET =====================================================================
                userGrpsDetails.get()
                    .success(function (data) {
                        console.log("userGrpsDetails.ejs: mainController userGrpsDetails.get success");
                        $scope.userGrpsDetails = data;
                        $scope.loading = false;
                        $("#grpnametaken").hide();
                    });
                // CREATE ==================================================================
                $scope.createUserGrpDetail = function () {
                    console.log("userGrpsDetails.ejs:  mainController createUserGrpDetail ");
                    // validate the formData to make sure that something is there
                    // if form is empty, nothing will happen
                    if ($scope.formData.grp != undefined) {
                        $scope.loading = true;
                        //$scope.formData.email = userEmail; // emailx;
                        //$scope.formData.grpOwner = 'Y';
                        // call the create function from our service (returns a promise object)
                        console.log("userGrpsDetails.ejs: $scope.formData: " + JSON.stringify($scope.formData));
                        //userGrps.create( {"grp":$scope.userGrpName, "grpOwner":"Y"} )
                        userGrpsDetails.create($scope.formData)
                            .error(function (data) {
                                $scope.loading = false;
                                console.log("userGrpsDetails.ejs: createUserGrpDetail ERROR data: " + JSON.stringify(data));
                                console.log("userGrpsDetails.ejs: createUserGrpDetail ERROR data.message: " + data.message);
                                message = data.message;
                                $("#grpnametaken").show();

                            })
                            .success(function (data) {
                                $scope.loading = false;
                                $scope.formData = {}; // clear the form so our user is ready to enter another
                                //console.log("userGrpsDetails.ejs: createUserGrpDetail $scope.userGrpsDetails: " + JSON.stringify($scope.userGrpsDetails) );
                                $scope.userGrpsDetails = data; // 
                                $("#grpnametaken").hide();
                                console.log("userGrpsDetails.ejs: createUserGrpDetail $scope.userGrpsDetails: " + JSON.stringify($scope.userGrpsDetails));
                            });
                    }
                };

                $scope.deleteGrpDetail = function (grpName) {
                    console.log("userGrpsDetails.ejs:  mainController deleteGrpDetail grpName: " + grpName.grp);
                    //$scope.loading = true;

                    if (confirm('Are you sure to delete this record ?') == true) {
                        console.log(" yes delete");
                        $scope.loading = true;
                        userGrpsDetails.delGrp(grpName.grp)
                            .success(function (data) {
                                $scope.loading = false;
                                $scope.formData = {}; // clear the form so our user is ready to enter another
                                $scope.userGrpsDetails = data; // 
                                $("#grpnametaken").hide();
                                $("#modGroupForm").hide();
                                $("#userInfoForm").hide();
                                $("#createGroupForm").show();
                                $("#addUserToGrpForm").hide();
                                $("#allUsersAdded").hide();
                            });
                    } else {
                        console.log(" No delete");
                    }
                };

                $scope.modifyUserGrpDetail = function () {
                    //console.log("userGrpsDetails.ejs:  mainController modifyUserGrpDetail");
                        // just update usergrpdetails
                        // if grp name is not orignal and already exists then return error and do not do any updating
                        // modify usergrps and mylists only if grp changed for all finds that match grp in usergrps
                        // and that match grp, view, edit, rank in mylists
                        // checking done at server via route to update
                        $scope.formData2._id = $scope.currentGrpId;
                        $scope.formData2.prevGrp = $scope.currentGrpGrp;
                        userGrpsDetails.update($scope.formData2)
                            .error(function (data) {
                                $scope.loading = false;
                                //console.log("userGrpsDetails.ejs: modifyUserGrpDetail ERROR data: " + JSON.stringify(data));
                                //console.log("userGrpsDetails.ejs: modifyUserGrpDetail ERROR data.message: " + data.message);
                                message = data.message;
                                $("#grpnametaken2").show();
                            })
                            .success(function (data) {
                                $scope.loading = false;
                                $scope.formData2 = {}; // clear the form so our user is ready to enter another
                                //console.log("userGrpsDetails.ejs: createUserGrpDetail $scope.userGrpsDetails: " + JSON.stringify($scope.userGrpsDetails) );
                                $scope.userGrpsDetails = data; // 
                                $("#grpnametaken2").hide();
                                //console.log("userGrpsDetails.ejs: createUserGrpDetail $scope.userGrpsDetails: " + JSON.stringify($scope.userGrpsDetails));
                                $("#modGroupForm").hide();
                                $("#userInfoForm").hide();
                                $("#createGroupForm").show();
                                $("#addUserToGrpForm").hide();
                                $("#allUsersAdded").hide();
                            });
                };

                $scope.modifyUserGrpDetailCancel = function () {
                    //console.log("userGrpsDetails.ejs:  mainController modifyUserGrpDetailCancel ");
                    $("#modGroupForm").hide();
                    $("#userInfoForm").hide();
                    $("#createGroupForm").show();
                };

                $scope.showModGroupForm = function (myGrp) {
                    //console.log("userGrpsDetails.ejs:  mainController showModGroupForm ");
                    $scope.currentGrpId = myGrp._id;
                    $scope.currentGrpGrp = myGrp.grp;
                    $scope.currentGrpDetail = myGrp.detail;
                    $scope.currentGrpPrivate = myGrp.private;
                    $scope.formData2.grp2 = myGrp.grp; 
                    $scope.myForm2.grp2.$dirty = true;
                    $scope.formData2.detail2 = myGrp.detail; 
                    $scope.myForm2.detail2.$dirty = true;
                    $scope.formData2.private2 = myGrp.private; 
                    $scope.myForm2.private2.$dirty = true;
                    $("#modGroupForm").show();
                    $("#userInfoForm").hide();
                    $("#createGroupForm").hide();
                };

                $scope.showUserInfo = function (myGrp) {
                    //console.log("userGrpsDetails.ejs:  mainController showUserInfo ");
                    $scope.userGrpName = myGrp.grp;
                    $scope.currentGrpId = myGrp._id;
                    $scope.currentGrpGrp = myGrp.grp;
                    $scope.currentGrpDetail = myGrp.detail;
                    $scope.currentGrpPrivate = myGrp.private;

                    userGrpsDetails.detOfGrp(myGrp.grp)
                        .success(function (data) {
                            $scope.loading = false;
                            $scope.grpDetail = data[data.length - 2];
                            $scope.grpPrivate = data[data.length - 1];
                            data.pop();
                            data.pop();
                            $scope.userGrps2 = data;
                            //console.log("userGrpsA.ejs: deleteUserGrp detOfGrp $scope.users: " + JSON.stringify($scope.userGrps2) );
                        });

                    $("#modGroupForm").hide();
                    $("#userInfoForm").show();
                    $("#createGroupForm").hide();
                    $("#addUserToGrpForm").hide();
                    $("#allUsersAdded").hide();
                };

                $scope.goBackFromUserInfo = function (myGrp) {
                    //console.log("userGrpsDetails.ejs:  mainController goBackFromUserInfo ");
                    $("#modGroupForm").hide();
                    $("#userInfoForm").hide();
                    $("#createGroupForm").show();
                };

                $scope.removeUserFromGrp = function (myGrp) {
                    //console.log("userGrpsDetails.ejs:  mainController removeUserFromGrp myGrp.email: ", myGrp.email);
                    if (confirm('Really Remove this User from this Group?') == true) {
                        $scope.loading = true;
                        //console.log("userGrpsDetails.ejs: $scope.formData: " + JSON.stringify($scope.formData));
                        $scope.formData.grp = myGrp.grp;
                        $scope.formData.email = myGrp.email;
                        $scope.formData.grpOwner = myGrp.grpOwner;
                        //console.log("userGrpsDetails.ejs: $scope.formData: " + JSON.stringify($scope.formData));
                        userGrpsDetails.deleteUserFromGrp($scope.formData)
                            .success(function (data) {
                                $scope.loading = false;
                                $scope.formData = {}; // clear the form so our user is ready to enter another
                                $scope.userGrps2 = data; // 
                                //console.log("userGrpsA.ejs: deleteUserFromGrp $scope.userGrps: " + JSON.stringify($scope.userGrps));
                                $scope.loading = true;
                                $("#addUserToGrpForm").hide();
                                $("#allUsersAdded").hide();
                        });
                    };
                };

                $scope.showUsersToAdd = function () {
                    console.log("userGrpsDetails.ejs: showUsersToAdd ");
                    //$("#addUserToGrpForm").show();
                    $scope.userGrpName = $scope.currentGrpGrp;
                    $scope.selectToAdd = [];
                    userGrpsDetails.getUsersToAdd($scope.userGrpName)
                        .success(function (data) {
                            $scope.loading = false;
                            $scope.usersToAdd = data;
                            //console.log("showUsersToAdd $scope.usersToAdd: " + JSON.stringify($scope.usersToAdd) );
                            for (var i = 0; i < $scope.usersToAdd.length; i++) {
                                //console.log("$scope.usersToAdd[i].local.email = " + $scope.usersToAdd[i].local.email);
                                $scope.selectToAdd.push($scope.usersToAdd[i].local.email);
                            }
                            if ($scope.selectToAdd.length > 0) {
                                console.log("$scope.selectToAdd.length > 0");
                                noMoreUsersToAdd = false;
                                $("#addUserToGrpForm").show();
                                $("#allUsersAdded").hide();
                            } else {
                                console.log("NOT: $scope.selectToAdd.length > 0");
                                noMoreUsersToAdd = true;
                                $("#allUsersAdded").show();
                                $("#addUserToGrpForm").hide();
                            }
                            
                            //$("#addUserToGrpForm").show();
                            //console.log("showUsersToAdd $scope.selectToAdd: " + JSON.stringify($scope.selectToAdd) );
                        });

                    //$("#modGroupForm").hide();
                    //$("#userInfoForm").show();
                    //$("#createGroupForm").hide();
                };

                $scope.addUserToGrp = function () {
                    console.log(" addUserToGrp  $scope.formData3: " + JSON.stringify($scope.formData3) +
                        " $scope.currentGrpGrp: " + $scope.currentGrpGrp);
                    //$("#addUserToGrpForm").show();
                    // Add the user to the group and then get an updated list of users left to add.
                    // what if list is empty ??
                    $scope.loading = true;
                    $scope.formData3.grp = $scope.currentGrpGrp;
                    //$scope.formData3.email = $scope.formData3.email;
                    $scope.formData3.grpOwner = 'N';
                    userGrpsDetails.createGrpEntry($scope.formData3)
                        .success(function (data) {
                            $scope.loading = false;
                            $scope.formData = {}; // clear the form so our user is ready to enter another
                            $scope.userGrps = data; // 
                            //console.log("userGrpsA.ejs: createUserGrp3 $scope.userGrps: " + JSON.stringify($scope.userGrps));
                           
                            $scope.userGrpName = $scope.currentGrpGrp;
                            userGrpsDetails.detOfGrp($scope.userGrpName)
                                .success(function (data) {
                                    $scope.loading = false;
                                    $scope.grpDetail = data[data.length - 2];
                                    $scope.grpPrivate = data[data.length - 1];
                                    data.pop();
                                    data.pop();
                                    $scope.userGrps2 = data;
                                    //console.log("userGrpsA.ejs: deleteUserGrp detOfGrp $scope.users: " + JSON.stringify($scope.userGrps2) );
                            
                                    $scope.selectToAdd = [];
                                    userGrpsDetails.getUsersToAdd($scope.userGrpName)
                                        .success(function (data) {
                                            $scope.loading = false;
                                            $scope.usersToAdd = data;
                                            //console.log("showUsersToAdd $scope.usersToAdd: " + JSON.stringify($scope.usersToAdd) );
                                            for (var i = 0; i < $scope.usersToAdd.length; i++) {
                                                console.log("$scope.usersToAdd[i].local.email = " + $scope.usersToAdd[i].local.email);
                                                $scope.selectToAdd.push($scope.usersToAdd[i].local.email);
                                            }
                                            if ($scope.selectToAdd.length > 0) {
                                                console.log("$scope.selectToAdd.length > 0");
                                                noMoreUsersToAdd = false;
                                            } else {
                                                console.log("NOT: $scope.selectToAdd.length > 0");
                                                noMoreUsersToAdd = true;
                                            }
                                            //console.log("showUsersToAdd $scope.selectToAdd: " + JSON.stringify($scope.selectToAdd) );
                                    });
                            });
                            //$("#modGroupForm").hide();
                            //$("#userInfoForm").show();
                            //$("#createGroupForm").hide();
                    });
                };

                $scope.getData = function () {
                    //return $filter('filter')($scope.data, $scope.q)
                    return $filter('filter')($scope.userGrpsDetails, $scope.q)
                };

                $scope.myNumberOfPages = function (a, b) {
                    return Math.ceil(a / b);
                };

                $scope.numberOfPages = function () {
                    //console.log("$scope.numberOfPages $scope.getData().length: " + $scope.getData().length +
                    //    " $scope.pageSize: " + $scope.pageSize)
                    return Math.ceil($scope.getData().length / $scope.pageSize);
                };

                $scope.$watch('q', function (newValue, oldValue) {
                    //console.log("$scope.$watch(q) reached");
                    if (oldValue != newValue) {
                        $scope.currentPage = 0;
                    }
                }, true
                );

                $scope.getData2 = function () {
                    //return $filter('filter')($scope.data, $scope.q)
                    return $filter('filter')($scope.userGrps2, $scope.q2)
                };

                $scope.myNumberOfPages2 = function (a, b) {
                    return Math.ceil(a / b);
                };

                $scope.numberOfPages2 = function () {
                    //console.log("$scope.numberOfPages2 $scope.getData2().length: " + $scope.getData2().length +
                    //    " $scope.pageSize2: " + $scope.pageSize2);
                    //return Math.ceil($scope.getData2().length/$scope.pageSize2);
                    return Math.ceil($scope.getData2().length / $scope.pageSize2);
                };

                $scope.$watch('q2', function (newValue, oldValue) {
                    //console.log("$scope.$watch(q2) reached");
                    if (oldValue != newValue) {
                        $scope.currentPage2 = 0;
                    }
                }, true
                );

            }]);

            app.filter('startFrom', function () {
                return function (input, start) {
                    start = +start;
                    return input.slice(start);
                }
            });
    </script>
    <script>
        angular.module('userGrpsDetailsService', [])
            .factory('userGrpsDetails', ['$http', function ($http) {
                return {
                    get: function () {
                        //console.log("userGrpsDetails.ejs: service userGrpsDetails get");
                        return $http.get('/api/UserGrpsDetailsForUser');
                    },
                    create: function (Data) {
                        //console.log("userGrpsDetails.ejs: service userGrpsDetails create");
                        return $http.post('/api/userGrpDetail', Data);
                    },
                    update: function (Data) {
                        //console.log("userGrpsDetails.ejs: service userGrpsDetails update");
                        return $http.post('/api/userGrpDetailUpdate', Data);
                    },
                    delete: function (id) {
                        //console.log("userGrpsDetails.ejs: service userGrps delete");
                        return $http.delete('/api/userGrps/' + id);
                    },
                    change: function (id) {
                        //console.log("userGrpsDetails.ejs: service userGrps change");
                        return $http.get('/api/users/' + id); // id is a grp name
                    },
                    test1: function (id) {
                        //console.log("userGrpsDetails.ejs: service userGrps test1");
                        return $http.get('/api/users/test1/' + id); // id is a grp name
                    },
                    getUsersToAdd: function (id) {
                        //console.log("userGrpsDetails.ejs: service userGrps getUsersToAdd");
                        return $http.get('/api/users/test1/' + id); // id is a grp name
                    },
                    test2: function (id) {
                        //console.log("userGrpsDetails.ejs: service userGrps test2");
                        return $http.get('/api/users/test2/' + id); // id is a grp name
                    },
                    deleteUserFromGrp: function (Data) {
                        return $http.post('/api/userGrpsDelUser2', Data);
                    },
                    detOfGrp: function (id) {
                        //console.log("userGrpsDetails.ejs:  detOfGrp");
                        return $http.get('/api/userGrps/detOfGrp/' + id); // id is a grp name
                    },
                    ownersOfGrp: function (id) {
                        //console.log("userGrpsDetails.ejs:  ownersOfGrp");
                        return $http.get('/api/userGrps/ownersOfGrp/' + id); // id is a grp name
                    },
                    delGrp: function (id) {
                        //console.log("userGrpsDetails.ejs:  delGrp");
                        return $http.get('/api/userGrps/deleteGrp/' + id); // id is a grp name
                    },
                    delGrpDetail: function (id) {
                        //console.log("userGrpsDetails.ejs:  delGrpDetail");
                        return $http.get('/api/userGrps/deleteGrpDetail/' + id); // id is a grp name
                    },
                    createGrpEntry: function (Data) {
                        return $http.post('/api/userGrps', Data);
                    }
                }
            }]);
    </script>

    <script>
        angular.module('scotchTodo', ['userGrpsDetailsController', 'userGrpsDetailsService', 'angular.filter']);
    </script>
    <title>Top 10 Lists</title>
    <style>
        body {
            padding-top: 0px;
            word-wrap: break-word;
        }
        .table-striped>tbody:nth-child(2n+1)>tr {background-color: lightgray;} 
        .table-striped>tbody:nth-child(2n+0)>tr {background-color: gray;} 
    </style>
</head>
<body class="bg-secondary text-white">
<div  ng-controller="mainController" id='main' class="container-fluid">
    <% include myNavBar %>
    <h3><span class="fa"></span>My Groups</h3>
    <table class="table-sm table-responsive-sm">
        <tr ng-if="userGrpsDetails.length == 0">
            <td>
                <label class="py-sm-0 my-sm-0">No Groups currently defined. Create one.<label>
            </td>
        <tr>
        <tr ng-if="userGrpsDetails.length > 0">
            <td>
                <table class="table table-striped" ng-table="myUserGrpsTableParams" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>Group</th>
                        <th>Details</th>
                        <th>Private</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tbody class="problemcheckboxx" ng-repeat="userGrpD in userGrpsDetails
                        | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td>{{ userGrpD.grp }}</td>
                        <td>{{ userGrpD.detail }}</td>
                        <td>{{ userGrpD.private }}</td>
                        <td>
                            <span>
                                <button type="submit" class="btn btn-primary btn-sm"
                                    ng-click="showModGroupForm(userGrpD)" data-toggle="tooltip"
                                    title="Modify the Group">Mod</button>
                            </span>
                            <span>
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        ng-click="showUserInfo(userGrpD)" data-toggle="tooltip"
                                        title="Manage the Group Users ">Users</button>
                            </span>
                        </td>
                    </tbody>
                    <p class="text-center" ng-show="loading">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </p>
                </table>
               
                            <table>
                                <tr>
                                    <td>
                                        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"
                                            class="btn btn-primary btn-sm">Previous</button>
                                        {{currentPage+1}}/{{myNumberOfPages(getData().length, pageSize )}}
                                        <button ng-disabled="currentPage >= getData().length/pageSize - 1"
                                            ng-click="currentPage=currentPage+1" class="btn btn-primary btn-sm">Next</button>
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td>Set Rows per Page</td>
                                    <td>
                                        <select ng-model="pageSize" id="pageSize" 
                                            class="form-control form-control-sm btn btn-primary btn-sm">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
            </td>
        </tr>
        <tr id="createGroupForm">
            <td>
                <h3> Create a new Group: </h3>
                <div class="alert alert-danger" id="grpnametaken">Group Name already taken!</div>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <form name="myForm">
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Group Name</label>
                        <input type="text" class="form-control form-control-sm" name="grp" ng-model="formData.grp" required
                            placeholder="Group Name" maxlength="16" 
                            [ngClass]="{'invalid-textbox' :myForm.submitted && !grp.valid }" data-toggle="tooltip"
                            title="Enter the group name. Must be unique.">
                    </div>
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Details</label>
                        <input type="text" class="form-control form-control-sm" name="detail" ng-model="formData.detail"
                        placeholder="About this group" required maxlength="64"
                        [ngClass]="{'invalid-textbox' :myForm.submitted && !detail.valid }" data-toggle="tooltip"
                        title="Describe the group.">
                    </div>
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Private Y/N</label>
                        <select type="text" class="form-control form-control-sm" name="private" ng-model="formData.private" required
                            placeholder="N" data-toggle="tooltip" title="Private = Y, only you can put users in this group!">
                            <option value="Y">Y</option>
                            <option value="N" selected>N</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="createUserGrpDetail()" 
                        ng-disabled="!myForm.grp.$dirty || !myForm.detail.$dirty || !myForm.private.$dirty ||
                         (myForm.grp.$dirty && myForm.grp.$invalid) || (myForm.detail.$dirty && myForm.detail.$invalid) ||
                         (myForm.private.$dirty && myForm.private.$invalid)" data-toggle="tooltip"
                        title="Add this new Group!">Add</button>
                </form>
            </td>
        </tr>

        <tr id="modGroupForm">
            <td>
                <h3> Modify the Group: {{currentGrpGrp}}</h3>
                <div class="alert alert-danger" id="grpnametaken2">Group Name already taken!</div>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <form name="myForm2">
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Group Name</label>
                        <input type="text" class="form-control form-control-sm" name="grp2" ng-model="formData2.grp2" required
                            placeholder="Group Name" maxlength="16"
                            [ngClass]="{'invalid-textbox' :myForm2.submitted && !grp2.valid }" data-toggle="tooltip"
                            title="Enter the group name. Must be unique.">
                    </div>
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Details</label>
                        <input type="text" class="form-control form-control-sm" name="detail2" ng-model="formData2.detail2"
                        placeholder="About this group" required maxlength="64"
                        [ngClass]="{'invalid-textbox' :myForm2.submitted && !detail2.valid }" data-toggle="tooltip"
                        title="Describe the group.">
                    </div>
                    <div class="form-group">
                        <label class="py-sm-0 my-sm-0">Private Y/N</label>
                        <select type="text" class="form-control form-control-sm" name="private2" ng-model="formData2.private2" required
                            placeholder="N" data-toggle="tooltip" title="Private = Y, only you can put users in this group!">
                            <option value="Y">Y</option>
                            <option value="N" selected>N</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="modifyUserGrpDetail()"                             
                        ng-disabled="!myForm2.grp2.$dirty || !myForm2.detail2.$dirty || !myForm2.private2.$dirty ||
                         (myForm2.grp2.$dirty && myForm2.grp2.$invalid) || (myForm2.detail2.$dirty && myForm2.detail2.$invalid) ||
                         (myForm2.private2.$dirty && myForm2.private2.$invalid)" data-toggle="tooltip"
                        title="Modify this Group">Modify</button>
                    <button type="submit" class="btn btn-primary btn-sm"
                        ng-click="modifyUserGrpDetailCancel()">Cancel</button>
                </form>
            </td>
        </tr>
        
        <tr id="userInfoForm">
            <td>
                <h3>Users in Group: {{currentGrpGrp}}
                    <!-- span ng-if="" -->
                        <button type="submit" class="btn btn-primary btn-sm"
                            ng-click="showUsersToAdd()">Add User</button>
                    <!-- /span -->
                    <button type="submit" class="btn btn-primary btn-sm"
                        ng-click="modifyUserGrpDetailCancel()">Go Back</button>
                </h3>
                <p id="allUsersAdded" class="py-sm-0 my-sm-0">No more Users left to Add to this Group</p>
                <form id="addUserToGrpForm" name="myForm3">
                    <span class="form-group">
                        <table class="table table-striped" ng-table="myUserGrpsTableParams" border="0" cellspacing="0" cellpadding="0">
                            <tr ng-if="selectToAdd.length > 0" >
                                <td>
                                    <label class="py-sm-0 my-sm-0">Select a User to Add to the Group<label>
                                </td><td>
                                    <!-- ng-options="email as local.email for local in usersToAdd track by usersToAdd._id"  -->
                                    <select type="text" class="form-control form-control-sm" name="usertoadd" ng-model="formData3.email"
                                        ng-options="email for email in selectToAdd"
                                        placeholder="Select User" required
                                        data-toggle="tooltip" title="Select the User to Add to this Group">
                                    </select>
                                </td><td>
                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="addUserToGrp()" 
                                        ng-disabled="!myForm3.usertoadd.$dirty || 
                                        (myForm3.usertoadd.$dirty && myForm3.usertoadd.$invalid)" data-toggle="tooltip"
                                        title="Add this User to this Group">Add</button>
                                    <!-- button type="submit" class="btn btn-primary btn-sm"
                                        ng-click="createMyListCancel()">Cancel</button -->
                                </td>
                            </tr>
                            <!-- span ng-if="noMoreUsersToAdd" -->
                            <!-- tr ng-if="selectToAdd.length == 0" >
                                <p class="py-sm-0 my-sm-0">No more Users left to Add to this Group</p>
                            </tr -->
                            <!-- /span -->
                        </table>
                    </span>
                </form>

                <table class="table table-striped" ng-table="myUserGrpsTableParams" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>Group</th>
                        <th>Email</th>
                        <th>Group Owner</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tbody class="problemcheckboxx" ng-repeat="userGrp in userGrps2
                        | filter:q2 | startFrom:currentPage2*pageSize2 | limitTo:pageSize2">
                        <td>{{ userGrp.grp }}</td>
                        <td>{{ userGrp.email }}</td>
                        <td>{{ userGrp.grpOwner }}</td>
                        <td>
                            <span ng-if="userGrps2.length == 1">
                                <button type="submit" class="btn btn-primary btn-sm"
                                    ng-click="deleteGrpDetail(userGrp)">Delete Group</button>
                            </span>
                            <span ng-if="userGrp.grpOwner != 'Y'">
                                <button type="submit" class="btn btn-primary btn-sm"
                                    ng-click="removeUserFromGrp(userGrp)">Remove</button>
                            </span>
                        </td>
                    </tbody>
                    <p class="text-center" ng-show="loading">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </p>
                </table>

                <table>
                        <tr>
                            <td>
                                <button ng-disabled="currentPage2 == 0" ng-click="currentPage2=currentPage2-1"
                                    class="btn btn-primary btn-sm">Previous</button>
                                {{currentPage2+1}}/{{myNumberOfPages2(getData2().length, pageSize2 )}}
                                <button ng-disabled="currentPage2 >= getData2().length/pageSize2 - 1"
                                    ng-click="currentPage2=currentPage2+1" class="btn btn-primary btn-sm">Next</button>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>Set Rows per Page</td>
                            <td>
                                <select ng-model="pageSize2" id="pageSize2" 
                                    class="form-control form-control-sm btn btn-primary btn-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </td>
                        </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
</body>
</html>