<!doctype html>
<html ng-app="scotchTodo">
    
<head X-Content-Type-Options: nosniff>
        <base href="/" />
         <!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <script>
    angular.module('userGrpsController', [])

	// inject the Todo service factory into our controller
	.controller('mainController', ['$scope','$http','userGrps', function($scope, $http, userGrps) {
		console.log("userGrps.ejs: userGrpsController mainController reached");
		$scope.formData = {};
        $scope.loading = true;
        $scope.myUserGrpsTableParams = {};
        var userEmail = "<%= user.local.email %>";
        console.log("userGrps.ejs: userEmail: ", userEmail);

		// GET =====================================================================
        userGrps.get()
			.success(function(data) {
				console.log("userGrps.ejs: mainController userGrps.get success");
                $scope.userGrps = data;
				$scope.loading = false;
            });
        // CREATE ==================================================================
        $scope.createUserGrp = function(emailx) {
            console.log("userGrps.ejs:  mainController createUserGrp ");
            //console.log("emailx: " , emailx);
			// validate the formData to make sure that something is there
			// if form is empty, nothing will happen
			if ($scope.formData.grp != undefined) {
				$scope.loading = true;
                $scope.formData.email = userEmail; // emailx;
                $scope.formData.grpOwner = 'Y';
                // call the create function from our service (returns a promise object)
                console.log("userGrps.ejs: $scope.formData: " + JSON.stringify($scope.formData) );
                //userGrps.create( {"grp":$scope.userGrpName, "grpOwner":"Y"} )
                userGrps.create($scope.formData)
					// if successful creation, call our get function to get all the new todos
					.success(function(data) {
						$scope.loading = false;
						$scope.formData = {}; // clear the form so our user is ready to enter another
                        $scope.userGrps = data; // 
                        console.log("userGrps.ejs: createUserGrp $scope.userGrps: " + JSON.stringify($scope.userGrps) );
					});
			}
        };
        
        $scope.createUserGrp2 = function(emailx) {
            console.log("userGrps.ejs:  mainController createUserGrp2 ");
            console.log("userGrps.ejs: emailx: " , emailx);
			// validate the formData to make sure that something is there
			// if form is empty, nothing will happen
			//if ($scope.formData.grp != undefined) {
				$scope.loading = true;
                // call the create function from our service (returns a promise object)
                console.log("userGrps.ejs: $scope.formData: " + JSON.stringify($scope.formData) );
                //userGrps.create( {"grp":$scope.userGrpName, "email":$scope.local.email, "grpOwner":"N"} )
                $scope.formData.grp = $scope.userGrpName;
                $scope.formData.email = emailx;
                $scope.formData.grpOwner = 'N';
                console.log("userGrps.ejs: $scope.formData: " + JSON.stringify($scope.formData) );
                userGrps.create($scope.formData)
					// if successful creation, call our get function to get all the new todos
					.success(function(data) {
						$scope.loading = false;
						$scope.formData = {}; // clear the form so our user is ready to enter another
                        $scope.userGrps = data; // 
                        console.log("userGrps.ejs: createUserGrp2 $scope.userGrps: " + JSON.stringify($scope.userGrps) );
                        //$scope.tableParams.reload();
                        //myUserGrpsTableParams.reload();
                        //$route.reload();
                        //$scope.$apply();
                        //return $http.get('/api/userGrps');
                        //$scope.userGrps = data;
					});
			//}
		};
		// DELETE ==================================================================
        $scope.deleteUserGrp = function(id) {
			$scope.loading = true;
			userGrps.delete(id)
				.success(function(data) {
					$scope.loading = false;
					$scope.userGrps = data; 
				});
        };
        $scope.changeUserGrp = function(id) {
            $scope.loading = true;
            $scope.userGrpName = id;
			userGrps.change(id)
				.success(function(data) {
					$scope.loading = false;
                    //$scope.userGrps = data; 
                    $scope.users = data; 
                    console.log("userGrps.ejs: changeUserGrp $scope.users: " + JSON.stringify($scope.users) );
				});
        };
        $scope.test1UserGrp = function(id) {
            $scope.loading = true;
            $scope.userGrpName = id;
			userGrps.test1(id)
				.success(function(data) {
					$scope.loading = false;
                    //$scope.userGrps = data; 
                    $scope.users = data; 
                    console.log("userGrps.ejs: test1UserGrp $scope.users: " + JSON.stringify($scope.users) );
				});
		};
	}]);
</script>

<script>
angular.module('userGrpsService', [])

// super simple service
// each function returns a promise object 
.factory('userGrps', ['$http',function($http) {
    return {
        get : function() {
            console.log("userGrps.ejs: service userGrps get");
            return $http.get('/api/userGrps');
        },
        create : function(Data) {
            //Data.email = "<%= user.local.email %>";
            //Data.grpOwner = "Y";
            return $http.post('/api/userGrps', Data);
        },
        delete : function(id) {
            console.log("userGrps.ejs: service userGrps delete");
            return $http.delete('/api/userGrps/' + id);
        } ,
        change : function(id) {
            console.log("userGrps.ejs: service userGrps change");
            //return $http.get('/api/users/grp=' + id);
            return $http.get('/api/users/' + id); // id is a grp name
        },
        test1 : function(id) {
            console.log("userGrps.ejs: service userGrps test1");
            //return $http.get('/api/users/grp=' + id);
            return $http.get('/api/users/test1/' + id); // id is a grp name
        }


    }
}]);
</script>

<script>
angular.module('scotchTodo', ['userGrpsController', 'userGrpsService']);
</script>
    <title>Lists </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
    <div id='main'>
        <nav class="navbar-fluid navbar-default navbar-fixed-top">
            <div class="container">
                <% if (user.local.email == "admin") { %>
                    <a class="navbar-brand" href="#"> User Groups Admin RG's List App! </a>
                <% } else { %>
                    <a class="navbar-brand" href="#"> User Groups: RG's List App! </a>
                <% } %>
                <p class="navbar-text"> Lists your way!</p>

                <% if (user.local.screenName) { %>
                    <p class="navbar-right navbar-text" ><a href="/logout" >Logout</a></p>
                    <p class="navbar-right navbar-text" ><a href="/profile" >Profile</a></p>
                    <p class="navbar-right navbar-text">Logged in as: <%= user.local.screenName %></p>
                    <% if (user.local.email == "admin") { %>
                        <p class="navbar-right navbar-text" ><a href="/admin" >Admin</a></p>
                    <% } %> 
                <% } else { %>
                    <p class="navbar-right navbar-text" ><a href="#/login">Login</a> or <a href="#/signup">Register</a></p>
                    <p class="navbar-right navbar-text">Guest User</p>
                <% } %>

            </div>
        </nav>
        <div ng-view>
            <div ng-controller="mainController">
                <div class="container">
                    <div class="jumbotron text-center">
                        <h1>RG's List App User Groups: <span class="label label-info">{{ userGrps.length }}</span></h1>
                    </div>
                    <div id="userGrps-list" class="problemrow">
                        <!-- div class="col-sm-4 col-sm-offset-4" -->
                        <div>
                            <table ng-table="myUserGrpsTableParams" border="1" cellspacing="0" cellpadding="4">
                                <tr>
                                        <th>Operations</th> 
                                        <th>Group</th>
                                        <th>Email</th>
                                        <th>Group Owner</th>
                                        <th>Details</th>
                                </tr>
                            <tbody class="problemcheckbox" ng-repeat="userGrp in userGrps">
                                <td> 
                                        <button type="submit" class="btn btn-primary btn-sm" ng-click="deleteUserGrp(userGrp._id)">Del</button>
                                        <button type="submit" class="btn btn-primary btn-sm" ng-click="changeUserGrp(userGrp.grp)">Chg</button>
                                        <button type="submit" class="btn btn-primary btn-sm" ng-click="test1UserGrp(userGrp.grp)">Tst</button>
                                </td>
                                <td>{{ userGrp.grp }}</td>
                                <td>{{ userGrp.email }}</td>
                                <td>{{ userGrp.grpOwner }}</td>
                                <td>
                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="detailsToDoGrp(toDoGrp._id)">Details</button>
                                </td>
                            </tbody>
                            <p class="text-center" ng-show="loading">
                                <span class="fa fa-spinner fa-spin fa-3x"></span>
                            </p>
                            <form>
                                <tr><td colspan=4>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg text-center" placeholder="Enter new Group Name" ng-model="formData.grp">
                                </div>
                                </td><td>
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="createUserGrp()">Add</button>
                                </td></tr>
                            </form>
                            </table>
                        </div>
                    </div>
                    <div id="userGrp-form" class="problemcheckbox"> <!--- class="row" -->
                        <div> <!-- div class="col-sm-8 col-sm-offset-2 text-center" -->
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg text-center" placeholder="Enter new Group Name" ng-model="formData.grp">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="createUserGrp()">Add</button>
                            </form>
                        </div>
                    </div>
                    <div class="text-center">
                        <h1>Add Users into Group: <span class="label label-info">{{ userGrpName }}</span></h1>
                    </div>
                    <div ng-view>
                        <div ng-controller="mainController">
                            <div class="container">
                                <!-- div class="text-center">
                                    <h1>RG's List App Users: <span class="label label-info">{{ users.length }}</span></h1>
                                </div -->
                                
                                <div id="users-list" class="problemrow">
                                    <!-- div class="col-sm-4 col-sm-offset-4" -->
                                    <div>
                                        <table border="1" cellspacing="0" cellpadding="4">
                                            <tr>
                                                    <th>Operations</th> 
                                                    <th>Screen Name</th>
                                                    <th>Email</th>
                                                    <th>Details</th>
                                                    </tr>
                                
                                        <tbody class="problemcheckbox" ng-repeat="user in users">
                                            <td> 
                                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="deleteUser(user._id)">Del</button>
                                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="createUserGrp2(user.local.email)">Add</button>
                                            </td>
                                            <td>{{ user.local.screenName }}</td>
                                            <td>{{ user.local.email }}</td>
                                            <td>
                                                <button type="submit" class="btn btn-primary btn-sm" ng-click="detailsToDoGrp(toDoGrp._id)">Details</button>
                                            </td>
                                        </tbody>
                                        <p class="text-center" ng-show="loading">
                                            <span class="fa fa-spinner fa-spin fa-3x"></span>
                                        </p>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
